// Modern Urban
// backg-color = #f8f1E5
// text-color = #2f3131
// header-color = #426e86
// accent-color = #f9ba32

// Grecian Holiday
backg-color = hsla(32.7, 50.0%, 98.4%, 1.0) //#f4eade
text-color = #2f496e
header-color = #2988bc
accent-color = #ed8c72

open-animation-duration = 250ms

// Subdued and Professional
// backg-color = hsla(204.9, 71.4%, 96.9%, 1.0)
// text-color = #2a3132
// header-color = #763626
// accent-color = #336b87


body
  font-family Muli
  color text-color
  background-color backg-color
  font-size 14px

article
  margin 0 5%
  height 100%
  script + h3, pre + h3
    margin-top 3em
  choose:last-of-type
    margin-bottom 2em

h1, h2
  font-family 'Julius Sans One'
  text-transform lowercase
  color header-color

p, h3, h4
  font-weight 300

a, a:visited
  color header-color

@keyframes slidedownin
  0%
    transform translateY(-100%)
  100%
    transform translateY(0)

@keyframes slideupout
  0%
    transform translateY(0)
  100%
    transform translateY(-100%)

@keyframes slidedownout
  0%
    transform translateY(0)
  100%
    transform translateY(100%)

@keyframes slideupin
  0%
    transform translateY(100%)
  100%
    transform translateY(0)

choose:focus, li:focus
  outline 0

choose
  position relative
  display inline-block
  box-sizing border-box
  .choose-match
    padding 8px
    cursor pointer
  .choose-dropdown
    position absolute
    top 100%
    left 0
    min-width 100%
    z-index 10
    margin-top -1px
    display none
    overflow hidden

  *
    box-sizing border-box

  ul
    list-style none
    margin 0
    padding 0
    min-width 100%
    li
      display block
      margin 0
      padding 0.4em 1em
      span
        line-height 1.4em

    > ul
      max-height 340px
      overflow-y auto
      background choose-color-dropdown
      min-width 100px

  &.choose-dropdown-open, &.choose-dropdown-closing
    .choose-dropdown
      display block
  &.choose-dropdown-opening .choose-dropdown > ul
    animation slidedownin open-animation-duration ease-in-out
  &.choose-dropdown-closing .choose-dropdown > ul
    animation slideupout open-animation-duration ease-in-out


choose
  box-shadow inset 0 0 0 1px alpha(text-color, 0.5)
  transition box-shadow 150ms linear
  transition background-color open-animation-duration linear
  .choose-match::after
    content ' '
    display inline-block
    border 6px solid transparent
    border-top-color text-color
    vertical-align middle
    margin-left 1em
    transition background-color open-animation-duration linear
    transition border-color 150ms linear
    span
      transition color open-animation-duration linear
  &:not(.choose-dropdown-open):hover, &:not(.choose-dropdown-open):focus
    box-shadow inset 0 0 0 1px alpha(header-color, 0.5)
    .choose-match::after
      border-top-color header-color
  &.choose-dropdown-open
    border-bottom-color transparent
    background-color text-color
    .choose-dropdown
      display block
    .choose-match
      &::after
        border-top-color backg-color
      span
        color backg-color
  .choose-dropdown > ul
    color backg-color
    background-color text-color
    li
      &:hover, &:focus
        text-color text-color
      &:focus
        background-color header-color
      &:hover:not([aria-disabled="true"])
        background-color accent-color
      &[aria-disabled="true"]
        tooltip
          display none
        cursor not-allowed
        opacity 0.5

choose.multiple
  min-width 150px
  .choose-match span
    display inline-block
    min-width 100px
  .choose-dropdown
    top initial
    bottom 100%
  &.choose-dropdown-opening .choose-dropdown > ul
    animation-name slideupin
  &.choose-dropdown-closing .choose-dropdown > ul
    animation-name slidedownout
  ul li
    &::before
      content '✓'
      display inline-block
      margin-right 0.5em
      opacity 0
    &[aria-selected="true"]::before
      opacity 1

choose.radio, choose.tabs
  display block
  margin-bottom 10px
  &, &:not(.choose-dropdown-open):hover, &:not(.choose-dropdown-open):focus
    box-shadow none
  &.choose-dropdown-open
    background none
  .choose-match
    display none
  .choose-dropdown
    display block
    position static
    overflow visible
    > ul
      display flex
      align-items flex-start
      background none
      animation none
      //max-height initial
      overflow-y visible
      li
        position relative
        overflow visible
        color text-color
        cursor pointer
        line-height 21px

choose.radio .choose-dropdown > ul
  li
    size = 14px
    padding-left size*1.8
    &::before, &::after
      content ' '
      position absolute
      border-radius size
      width size
      height size
      left 2px
      top "calc(50% - %s)" % (size/2)
      border 1px solid header-color
      transition all 100ms linear
    &::before
      background-color white
      background-image none, linear-gradient(to bottom, white, backg-color)
    &::after
      border-color transparent
      transform scale(0.4)
      z-index 1
    &:hover:not([aria-disabled="true"]), &:focus
      background none
      color text-color
    &:hover::before
      background-color-color alpha(header-color, 0.2)
    &:focus::before
      border-color alpha(text-color, 0.8)
    &[aria-selected="true"]::after
      background-color header-color

choose.tabs .choose-dropdown > ul
  li
    border-top 2px solid header-color
    border-left 1px solid header-color
    border-bottom 1px solid header-color
    border-top-left-radius 4px
    border-top-right-radius 4px
    &:first-of-type
      border-left-width 2px
    &:last-of-type
      border-right 2px solid header-color
    &:hover:not([aria-disabled="true"]), &:focus
      background-color alpha(accent-color, 0.3)
    &[aria-selected="true"]
      background-color alpha(accent-color, 0.5)
