// Modern Urban
// backg-color = #f8f1E5
// text-color = #2f3131
// header-color = #426e86
// accent-color = #f9ba32

// Grecian Holiday
backg-color = hsla(32.7, 50.0%, 98.4%, 1.0) //#f4eade
text-color = #2f496e
header-color = #2988bc
accent-color = #ed8c72

// Subdued and Professional
// backg-color = hsla(204.9, 71.4%, 96.9%, 1.0)
// text-color = #2a3132
// header-color = #763626
// accent-color = #336b87



body
  font-family Muli
  color text-color
  background-color backg-color
  font-size 14px

article
  margin 0 5%
  height 100%

h1, h2
  font-family 'Julius Sans One'
  color header-color

p, h3, h4
  font-weight 300